<div class="home-container">
    <section class="section-container">
        <h2>Our Story</h2>
        <p>
        We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. 
        Fans were given situations where they had to come up with wacky and fun excuses. 
        The person with the best excuse won the Best Excuse Badge and won Pizzeria's vouchers. 
        Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza. Ever!
    </p>
    <p>
        Ever since we launched the Tastiest Pan Pizza, ever, people have not been able to resist 
        the softest, cheesiest, crunchiest, butteriest Domino's Fresh Pan Pizza. They have been 
        leaving the stage in the middle of a performance and even finding excuses to be 
        disqualified in a football match.
    </p>
    </section>
    <section class="section-container flex-content">
        <div class="image-box">
            <img src="https://images.unsplash.com/photo-1506354666786-959d6d497f1a?q=80&w=1000&auto=format&fit=crop" alt="Fresh Ingredients">
        </div>
        <div class="text-box">
            <h3>Ingredients</h3>
            <p>
                We're ruthless about goodness. We have no qualms about tearing up a day-old lettuce leaf 
                (straight from the farm), or steaming a baby (carrot). Cut. Cut. Chop. Chop. Steam. 
                Steam. Stir Stir. While they're still young and fresh - that's our motto. It makes the 
                kitchen a better place.
            </p>
        </div>
    </section>

    <section class="section-container flex-content">
        <div class="text-box">
            <h3>Our Chef</h3>
            <p>
                They make sauces sing and salads dance. They create magic with skill, knowledge, 
                passion, and stirring spoons (among other things). They make goodness so good, 
                it doesn't know what to do with itself. We do though. We send it to you.
            </p>
        </div>
        <div class="image-wrapper">
            <img src="https://image.shutterstock.com/image-photo/happy-chef-600w-437116033.jpg" alt="Our Happy Chef">
        </div>
    </section>

    <footer class="delivery-banner">
        <div class="timer-content" style="align-items: center;">
        <img src="https://image.shutterstock.com/image-photo/vintage-analog-kitchen-countdown-timer-260nw-669255388.jpg" alt="Timer">
        <span style="font-size: 50px; color: indigo; align-items: center;" >45 min Delivery</span>
        </div>
    </footer>
</div>

